[submodule "providers/openfeature-flagd-provider/schemas"]
	path = providers/openfeature-flagd-provider/schemas
	url = https://github.com/open-feature/schemas
[submodule "providers/openfeature-flagd-provider/providers/openfeature-flagd-provider/schemas"]
	path = providers/openfeature-flagd-provider/providers/openfeature-flagd-provider/schemas
	url = https://github.com/open-feature/schemas
